* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#carre {
    position: relative;
    left: 850px;
    top: 230px;
}

#carre {
    width: 150px;
    height: 150px;

    background-color: red;
    animation-duration: 5s;
    
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
    animation-name: rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        background-color: yellow;
    }
    to {
        transform: rotate(720deg);
        background-color: red;
    }
}